* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'Oswald', 'Poppins', 'Roboto', sans-serif;
    color: #aaa;
}

body {
  /* background-color: white;     */
  /* box-shadow: inset 0 0 5em 1em #000; */
  padding: 24px;
  /* background: radial-gradient(circle at -4% -12.9%, rgb(44, 58, 70) 0.1%, rgb(30, 33, 48) 90.2%); */
  /* background: radial-gradient(circle at -4% -12.9%, rgb(44, 58, 90) 0.1%, black 90.2%); */
  background: linear-gradient(to bottom right, #191D2D,#1B1B1C);; /*radial-gradient(circle at -4% -12.9%, rgb(44, 58, 90) 0.1%, black 90.2%);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}
    
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
  font-weight: 100;
  font-size: 12pt;
  font-family: 'Raleway', 'Oswald', 'Poppins', 'Roboto', sans-serif;
  /* color: grey !important; */
}

h2 {
  margin: 24px;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 0px;
  text-align: center;
  font-family: 'Raleway';
  color: whitesmoke;
}

h3{
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  font-family: 'Lato';
  text-transform: uppercase;
}

.marc-img {
  margin: 24px auto;
  width: 70%;
  /* max-width: 200px; */
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 60%, transparent);
  /* mask-image: radial-gradient(circle at 50% 50% rgba(0, 0, 0, 1) 60%, transparent); */
}
@keyframes shine {
    to {
      background-position: 200% center;
    }
  }

.gradient-text {
  font-weight: 900 !important;
  /* background: linear-gradient(to right, #d4AF37, #d4AF37); */
  background: linear-gradient(to right, #FFE3A3, #FFE3A3);
  /* background: linear-gradient(to right, #d38312,#a83279, #d38312); */
  /* background: -webkit-linear-gradient(#83a4d4, #b6fbff); */
  /* background: linear-gradient(to right, #70e1f5,#ffd194); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  
  color: #000;
  
  animation: shine 3s alternate-reverse infinite;
  
  /* text-transform: uppercase; */
  
  font-size: 42px;
}

input {
  margin: 24px 0;
  border: 1px solid lightgray;
  /* border: none; */
  border-radius: 1000px;
  background-color: transparent;
  color:white;
  /* box-shadow: inset -5px 5px 4px #0a0c12,
            inset 5px -5px 4px #282e48; */
  /* box-shadow:  */
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  padding: 6px 12px;
}

.privacy-img {
  margin: 0 auto;
  width: 50%;
  max-width: 300px;
  mask-image: radial-gradient(ellipse at center, rgba(255,255,255,1) 1%,rgba(255,255,255,0) 80%);
}

.button{
  border: 1px solid #FFE3A3;
  /* border: none; */
  border-radius: 1000px;
  
  color:#FFE3A3;
  /* box-shadow:  */
  height: 24px;
  font-size: 12pt;
  line-height: 24px;
  padding: 6px 12px;
  text-align: center;
  box-shadow: #000 2px 2px 12px;
}

.github-link {
  color: #FFE3A3;
}

.landing-section {
    /* height: 60vh; */
    /* height: 80svh;    */
    margin-top: 24px;
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
}
